<a href="https://colab.research.google.com/github/taragrover/PYTH_homework/blob/master/Copy_of_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [7]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.

animal=['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
# Print the 4th animal on the list.

print(animal[3])

# Add 'tortoise' to the beginning of the list.

animal.insert(0,'tortoise')
# Print the length of the list.

print(len(animal))
# Remove 'orangutan' from the list.

animal.pop(4)

# Sort the list alphabetically and print it out.
animal.sort()
print(animal)

orangutan
6
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [9]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = None

grades=['a','c','b','f']

# Print the 3rd name on the list

print(grades[2])

# Delete the first name on the list

grades.pop(0)

# Re-add the name you deleted to the end of the list

grades.append('a')

# Replace the 2nd name on the list with a new name.

grades[1]='d'

# Add 3 new names to the end of the list.
new_grades=['a+','b+','c+']
grades.extend(new_grades)
print(grades)

b
['c', 'd', 'f', 'a', 'a+', 'b+', 'c+']



### P3.PY

In [13]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers =[2,4,6,8]

# Print the max of `numbers`.
print(max(numbers))


# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

removed=numbers.pop()
print(removed)
numbers.insert(2,removed)
print(numbers)
# Pop the second number in `numbers` off.

numbers.pop(1)

# Append `3` to `numbers`.
numbers.append(3)


# Print out the average number.

avg_of_num=sum(numbers)/len(numbers)
print(avg_of_num)

8
8
[2, 4, 8, 6]
4.75



## SORTING

### P1.PY

In [17]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.
playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.

playlist_titles.sort(reverse=True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [18]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

num=[4,7,6,55,1,7,44]
num.sort(reverse=True)
print(num)

[55, 44, 7, 7, 6, 4, 1]

## LIST MANIPULATION

### P1.PY

In [19]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

cell.split('.')

['1', '192', '168', '0143']



### P2.PY

In [23]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]
my_sum = sum(nums)
print(my_sum)

my_min =min(nums)
print(my_min)

my_max =max(nums)
print(my_max)

#print(range(nums))-- this isn't working


my_mean=sum(nums)/len(nums)
print(my_mean)


# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

174
2
30
17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = None
 ## don't understand this one

# B) Combine the two given lists and assign them to list4.
list4 = None


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = None

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = None


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.



### P4.PY

In [35]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]




x=enumerate(cool_runnings)
print(list(x))

cool_runnings[10]='YOLO'
print(cool_runnings)

[(0, 'Feel'), (1, 'the'), (2, 'rhythm.'), (3, 'Feel'), (4, 'the'), (5, 'rhyme.'), (6, 'Get'), (7, 'on'), (8, 'up.'), (9, "It's"), (10, 'bobsled'), (11, 'time!')]
['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'YOLO', 'time!']

## LIST CHALLENGES

### P1.PY

In [45]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

list2=[]
for pair in tuple1:
  list2.append(pair[0])
  list2.append(pair[1])

new_list= list1 + list2
print(new_list)

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]



### P2.PY

In [51]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 


import numpy as np

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_mean= np.mean(sample)
print(my_mean)

my_median = np.median(sample)
print(my_median)

my_mode = np.mode(sample)
print(my_mode) 

my_variance = np.variance(sample)
print(my_variance)

my_sd = np.sd(sample)
print(my_sd)

# Once you finish, print out each value **on its own line** in this format: "median = " etc.

17.8
19.5

AttributeError: ignored