<a href="https://colab.research.google.com/github/taragrover/PYTH_homework/blob/master/Copy_Tara_of_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:


# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
x= None
print(x)

None



### P2.PY

In [0]:
"""

"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

t=5 
#this is your favorite number
print(t)


# Create another variable that represents your favorite color, and do the same steps as above.
c='blue'
#fav color
print(c)

5
blue



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

s='twinkle twinkle little star'
print(s)
print("""twinkle star
idk the artist""")

twinkle twinkle little star
twinkle star
idk the artist

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.
# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

score_2= (latest_score+50)
print(score_2)
# Subtract 90

score_3=(score_2-90)
print(score_3)

# Multiply 10
score_4= (score_3*10)
print(score_4)

# Divide 150
score_5=(score_4/150)
print(score_5)


# Modulus 3
score_6=(score_5%3)
print(score_6)

#OR using -= and += remove the redunancy of doing latest score 1 latest score 2 etc
latest_score+=50
print(latest_score)

latest_score-=1
print(latest_score)

100
150
60
600
4.0
1.0
150
149



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
y='dogs are '
x='better than cats'
z=y+x
print(z)

## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

dogs are better than cats



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

print(a+b)


# B)
c = '0'
d = '2'
print(c+d)


# C)
e = '0'
f = 2
print(e+str(f))

2
02
02



### P4.PY

In [6]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a and b) # does this need to be an integer at the end of it or a true/false?


# B)
c = False
d = False
print(c and d)


# C)
e = True
f = False
print(e and f)

True
False
False

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

x=float(5)
print(x)
print (type(x))

y=float(0)
print(y)
print (type(y))

z=float(-8)
print(z)
print (type(z))

5.0
<class 'float'>
0.0
<class 'float'>
-8.0
<class 'float'>




### P2.PY

In [10]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False




str(five)
int(five)

str(zero)
int(0)

str(neg_8)
int(-8)

str(T) 
bool(T)

True



### P3.PY

In [22]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
x=bool(one)
print(x)
print(type(x))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

y=float(one)
print(y)
print(type(y))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

z=bool(y)
print(z)
print(type(z))

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

q=int(z)
print(q)
print(type(q))
# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

a=bool(ten)
print(a)
print(type(a))

True
<class 'bool'>
1.0
<class 'float'>
True
<class 'bool'>
1
<class 'int'>
True
<class 'bool'>



### P4.PY

In [26]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

a=bool(one)
print(a)
print(type(a))

b=bool(zero)
print(b)
print(type(b))

print(T)
print(type(T))

print(F)
print(type(F))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

d=(int(a))
print(d)
print(type(d))

f=int(b)
print(f)
print(type(f))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.


#already in boolean though?
print(T)
print(type(T))

print(F)
print(type(F))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [28]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'apple'
item_name_2 = 'pear'
item_name_3 = 'salt'
item_name_4 = 'pepper'
item_name_5 = 'cheese'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 5.25
item_price_2 = 3.20
item_price_3 = 2.01
item_price_4 = 4.50
item_price_5 = 7.50

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 1
item_quant_2 = 2
item_quant_3 = 3
item_quant_4 = 4
item_quant_5 = 9

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

print(item_quant_1, item_name_1, '=',item_price_1)

1 apple = 5.25



### P2.PY

In [35]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('First item in cart? ')
item_name_2 = input('Second item in cart? ')
item_name_3 = input('Third item in cart? ')
item_name_4 = input('Fourth item in cart? ')
item_name_5 = input('Fifth item in cart? ')

# use input() function and ask user to name prices
item_price_1 = input('price of first item in cart? ')
item_price_2 = input('price of second item in cart? ')
item_price_3 = input('price of third item in cart? ')
item_price_4 = input('price of fourth item in cart? ')
item_price_5 = input('price of fifth item in cart? ')

# use input() function and ask user to name quants
item_quant_1 = input('How many of first item?')
item_quant_2 = input('How many of second item?')
item_quant_3 = input('How many of third item?')
item_quant_4 = input('How many of fourth item?')
item_quant_5 = input('How many of fifth item?')

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

# print(item_quant_2, item_name_2,'=',item_price_2*item_quant_2)

Name your first item: apple
First item in cart? fruit
Second item in cart? pear
Third item in cart? banana
Fourth item in cart? salt
Fifth item in cart? 1
price of first item in cart?
price of second item in cart?
price of third item in cart? 4
price of fourth item in cart? 5
price of fifth item in cart? 6

TypeError: ignored