<a href="https://colab.research.google.com/github/taragrover/PYTH_homework/blob/master/Copy_of_loop_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [2]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

odds = []

evens = []

for i in range(1,11):
  if i % 2 == 0:
    evens.append(i)
  else:
    odds.append(i)

print("odds = ", odds)
print("evens = ", evens)

#OTHER PROBLEM


lis = [100, 96, 98, 46, 84]

sum=0
for numbers in lis:
  sum+=numbers
    
average= sum / len(lis)
print(average)

odds =  [1, 3, 5, 7, 9]
evens =  [2, 4, 6, 8, 10]
84.8



### P2.PY

In [6]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

print("a = ", a)

# Using a loop, remove the duplicate items from list a and print out the updated list.
updated_list = []

for num in a:
  if num not in updated_list:
    updated_list.append(num)

print("Updated list = ", updated_list)

# Using a loop, merge list b into list a without adding any duplicates.
for num in b:
  if num not in updated_list:
    updated_list.append(num)

print("Merged updated list = ", updated_list)

a =  [2, 4, 10, 20, 5, 2, 20, 4]
Updated list =  [2, 4, 10, 20, 5]
Merged updated list =  [2, 4, 10, 20, 5, 13, 25, 8]



### P3.PY

In [9]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). 
# The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's 
#temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0

sample_temps = {}

for i,sample in enumerate(sampleF):
  celsius = (sample - 32) * 5.0/9.0
  sample_temps.update({i: celsius})

print(sample_temps)

{0: 21.999999999999996, 1: 28.000000000000004, 2: 33.0, 3: 42.0, 4: 52.0}

### P4.PY

In [20]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""
count = 0

for i in range(9, 12):
  if i % 7 != 0:
    print(i)
  else:
    print(i, " is the first multiple of 7 in this range")
    count = 1
    break

if count == 0:
  print("There are no multiples of 7 in this range")

9
10
11
There are no multiples of 7 in this range



### P5.PY

In [22]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""

for i in range(0, 6):
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

## FACTORS



### P1.PY

In [27]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors within the factorial and then print out the actual numeric answer. 
# Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

user_input = int(input('Enter a number to find its factorial: '))
factorial = 1

for i in range(1, user_input+1):
  factorial = factorial * i
  print("factor = ", i)

print("answer = ", factorial)

Enter a number to find its factorial: 4
factor =  1
factor =  2
factor =  3
factor =  4
answer =  24



### P2.PY

In [29]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = int(input('Enter a number to find its factors: '))
factors = []

for i in range(1, user_input+1):
  if user_input % i == 0:
    factors.append(i)

print("The factors of", user_input, "are: ", factors)

Enter a number to find its factors: 10
The factors of 10 are:  [1, 2, 5, 10]



### P3.PY

In [35]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = int(input('First number: '))
user_input2 = int(input('Second number: '))

factors1 = []

for i in range(1, user_input1+1):
  if user_input1 % i == 0:
    factors1.append(i)

factors2 = []

for i in range(1, user_input2+1):
  if user_input2 % i == 0:
    factors2.append(i)

set1 = set(factors1)
set2 = set(factors2)

common_factors = set1 & set2
#print(common_factors)

gcd = max(common_factors)

print("The GCD of", user_input1, " and ", user_input2, "is ", gcd)

Enter two numbers to find their greatest common denominator.
First number: 10
Second number: 20
{1, 2, 10, 5}
The GCD of 10  and  20 is  10

## SHAPES

## STILL NEED TO FINISH SHAPES AND LOOP CHALLENGES! WILL COMPLETE AND RESUBMIT.

### P1.PY

In [0]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""

### P2.PY

In [0]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""



### P3.PY

In [0]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""

### P4.PY

In [0]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""



### P5.PY

In [0]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

### P6.PY

In [0]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

## LOOP_CHALLENGES

### P1.PY

In [0]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")



### P2.PY

In [0]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")